<% provide(:title, "Home") %>
<body>
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="game_form">
          <%= render 'shared/game_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Group Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  <% else %>
    <div class="center jumbotron">
      <h1>Welcome to OGTable</h1>

      <h2>
        OGTable stands for "Open Gaming Table", and is a simple social network for organizing a tabletop gaming group,
        be it for roleplaying games like Dungeons and Dragons or for board games, like Ticket to Ride, or Risk.
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</body>
