<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="group_info">
      <h1><%= @group.name %>
      <span><%= @group.description %>
    </section>
    <section class="stats">
      <%= render 'shared/group_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users subscribed">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>