<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user info">
            <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
            </h1>
            <p>Joined: <%= @user.created_at.month %>/<%= @user.created_at.day %>/<%= @user.created_at.year %>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-8">
        <% if @user.games.any? %>
            <h3>Games (<%= @user.games.count %>)</h3>
            <ol class="games">
                <%= render @games %>
            </ol>
            <%= will_paginate @games %>
        <% end %>
    </div>
</div>